body{

    padding: 0;
    margin: 0;
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: cadetblue;
      
     
      /* #333; */
    }
    
    .mm {
      
      float: right;
  
    }
    
    li a {
      
      display: block;
      color: white;
      text-align: center;
      /* padding: 14px 16px; */
      padding: 35px;
      text-decoration: none;
  
      
      font-weight: 400;

      font-family: "Bebas Neue", sans-serif;

 
}

     
    
    
    li a:hover {
      background-color: #468284;
      /* #111; */
  
      color: black;
  
      
    }
  
    img{
  
      padding: 10px;
  
      margin-left: 30px;
  
      /* background-color: red; */
  
      margin-top: 7px;
    }
  
    .bebas-neue-regular {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    


/* .navbar{

   position: fixed;

} */

/* .ghg{

  position: fixed;
  right: 0;
  left: 0;
} */



/* body{

  background-image: url(./imgs/moisilv2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

} */

.demo1 {
  margin: 0;
  opacity: 0.6;
  width: 2000px;
}

.active,
.demo1:hover {
  opacity: 1;
}

