.produs img {
    display: block;
    object-fit: cover;
    object-position: 63% 0;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 8px;
  }
  
  .wrapper {
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .produs {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1px;
    background-color: rgba(250, 235, 215, 0.374);
    border-radius: 20px;
    padding: 16px;
  }
  
  .produs p {
    margin-bottom: 14px;
    margin-top: 14px;
  }
  
  .produs button {
    margin: auto;
    margin-bottom: 10px;
    width: fit-content;
    background-color: #ff9209;
    border: none;
    padding: 8px;
    border-radius: 16px;
  }
  
  .produs button:hover{
    background-color:#ff6c22;
    box-shadow: 2px 3px 0px 2px #2b3499;
    transition: 0.2s;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color: black;
  }