* {box-sizing:border-box}

#poze{
    border: 1remsolid black;
}

.slideshow-container {
  width: 1200px;
  position: center;
}

.mySlides {
  display: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}